/env
**__pycache__
/build
/adamspy.egg-info
/dist
*.res
*aview.lo?
demo*.py
/_test_drill.cfg
/test/example_working_directory/**
test/files/adamsctl_272309.bat
test/files/ppt.log
test/files/ppt.loq
test/existing_drillsim/test_analysis_1.msg.cached
test/existing_drillsim/test_analysis_1.res.cached
test/files/aviewAS.cmd